<div class="ufo-loading">
  <div class="ufo-intro-stars"></div>

  <div class="ufo light"></div>
  <div class="ufo">
    <div class="ufo-loading-small-cloud"></div>
    <div class="ufo-loading-small-cloud reverse"></div>
    <div class="ufo-small-ghost"></div>
  </div>

  <div class="ufo-loading-text">{{title}}</div>
</div>
